<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><link rel="stylesheet" href="../.resources/report.css" type="text/css"/><link rel="shortcut icon" href="../.resources/report.gif" type="image/gif"/><title>PostCondition.java</title><link rel="stylesheet" href="../.resources/prettify.css" type="text/css"/><script type="text/javascript" src="../.resources/prettify.js"></script></head><body onload="window['PR_TAB_WIDTH']=4;prettyPrint()"><div class="breadcrumb" id="breadcrumb"><span class="info"><a href="../.sessions.html" class="el_session">Sessions</a></span><a href="../index.html" class="el_report">OpenNARS Logic Reasoner</a> &gt; <a href="index.source.html" class="el_package">nars.nal.meta</a> &gt; <span class="el_source">PostCondition.java</span></div><h1>PostCondition.java</h1><pre class="source lang-java linenums">package nars.nal.meta;

import nars.Op;
import nars.Symbols;
import nars.nal.Level;
import nars.term.Term;
import nars.term.Terms;
import nars.term.atom.Atom;
import nars.term.compound.Compound;
import org.jetbrains.annotations.NotNull;

import java.io.Serializable;
import java.util.HashSet;
import java.util.Set;

import static nars.$.the;

/**
 * Describes a derivation postcondition
 * Immutable
 */
public class PostCondition implements Serializable, Level //since there can be multiple tasks derived per rule
{

    public static final float HALF = 0.5f;
    public final Term beliefTruth;
    public final Term goalTruth;

<span class="fc" id="L29">    public PostCondition(@NotNull Term term, Term beliefTruth, Term goalTruth, char puncOverride) {</span>
<span class="fc" id="L30">        this.term = term;</span>
        //this.modifiers = modifiers;
<span class="fc" id="L32">        this.beliefTruth = beliefTruth;</span>
<span class="fc" id="L33">        this.goalTruth = goalTruth;</span>
<span class="fc" id="L34">        this.puncOverride = puncOverride;</span>
<span class="fc" id="L35">        minNAL = Terms.maxLevel(term);// term.op().minLevel;</span>
<span class="fc" id="L36">    }</span>

    @NotNull
    public final Term term;
    //public final Term[] modifiers;

    /** steps to apply before initially forming the derived task's term */
    //public final PreCondition[] beforeConclusions;

    /**
     * minimum NAL level necessary to involve this postcondition
     */
    public final int minNAL;

<span class="fc" id="L50">    public static final Set&lt;Atom&gt; reservedMetaInfoCategories = new HashSet&lt;Atom&gt;() {{</span>
<span class="fc" id="L51">        add(the(&quot;Belief&quot;));</span>
<span class="fc" id="L52">        add(the(&quot;Stamp&quot;));</span>
<span class="fc" id="L53">        add(the(&quot;Desire&quot;));</span>
<span class="fc" id="L54">        add(the(&quot;Order&quot;));</span>
<span class="fc" id="L55">        add(the(&quot;Derive&quot;));</span>
<span class="fc" id="L56">        add(the(&quot;Info&quot;));</span>
<span class="fc" id="L57">        add(the(&quot;Event&quot;));</span>
<span class="fc" id="L58">        add(the(&quot;Punctuation&quot;));</span>
<span class="fc" id="L59">        /*@Deprecated*/ add(the(&quot;SequenceIntervals&quot;));</span>
<span class="fc" id="L60">        add(the(&quot;Eternalize&quot;));</span>
<span class="fc" id="L61">    }};</span>


    static final Atom
            /*negation = the(&quot;Negation&quot;),
            conversion = the(&quot;Conversion&quot;),
            contraposition = the(&quot;Contraposition&quot;),
            identity = the(&quot;Identity&quot;),*/
<span class="fc" id="L69">            allowBackward = the(&quot;AllowBackward&quot;),</span>
<span class="fc" id="L70">            fromTask = the(&quot;FromTask&quot;),</span>
<span class="fc" id="L71">            fromBelief = the(&quot;FromBelief&quot;),</span>
<span class="fc" id="L72">            anticipate = the(&quot;Anticipate&quot;),</span>
<span class="fc" id="L73">            immediate = the(&quot;Immediate&quot;);</span>

    /**
     * if puncOverride == 0 (unspecified), then the default punctuation rule determines the
     * derived task's punctuation.  otherwise, its punctuation will be set to puncOverride's value
     */
<span class="fc" id="L79">    public transient char puncOverride = 0;</span>


    /**
     * @param rule             rule which contains and is constructing this postcondition
     * @param term
     * @param modifiers
     * @throws RuntimeException
     */
    public static PostCondition make(@NotNull PremiseRule rule, @NotNull Term term,
                                     @NotNull Term... modifiers) throws RuntimeException {


        //TruthOperator judgmentTruth = null,goalTruth = null;
<span class="fc" id="L93">        Term beliefTruth = null, goalTruth = null;</span>

        //boolean negate = false;
<span class="fc" id="L96">        char puncOverride = 0;</span>

<span class="fc bfc" id="L98" title="All 2 branches covered.">        for (Term m : modifiers) {</span>
<span class="pc bpc" id="L99" title="1 of 2 branches missed.">            if (m.op() != Op.INHERIT) {</span>
<span class="nc" id="L100">                throw new RuntimeException(&quot;Unknown postcondition format: &quot; + m);</span>
            }

<span class="fc" id="L103">            Compound i = (Compound) m;</span>

<span class="fc" id="L105">            Term type = i.term(1);</span>
<span class="pc bpc" id="L106" title="1 of 2 branches missed.">            if (type == null) {</span>
<span class="nc" id="L107">                throw new RuntimeException(&quot;Unknown postcondition format (predicate must be atom): &quot; + m);</span>
            }

<span class="fc" id="L110">            Term which = i.term(0);</span>


<span class="pc bpc" id="L113" title="10 of 34 branches missed.">            switch (type.toString()) {</span>

                case &quot;Punctuation&quot;:
<span class="pc bpc" id="L116" title="12 of 18 branches missed.">                    switch (which.toString()) {</span>
                        case &quot;Question&quot;:
<span class="fc" id="L118">                            puncOverride = Symbols.QUESTION;</span>
<span class="fc" id="L119">                            break;</span>
                        case &quot;Goal&quot;:
<span class="nc" id="L121">                            puncOverride = Symbols.GOAL;</span>
<span class="nc" id="L122">                            break;</span>
                        case &quot;Judgment&quot;:
<span class="fc" id="L124">                            puncOverride = Symbols.JUDGMENT;</span>
<span class="fc" id="L125">                            break;</span>
                        case &quot;Quest&quot;:
<span class="nc" id="L127">                            puncOverride = Symbols.QUEST;</span>
<span class="nc" id="L128">                            break;</span>
                        default:
<span class="nc" id="L130">                            throw new RuntimeException(&quot;unknown punctuation: &quot; + which);</span>
                    }
<span class="fc" id="L132">                    break;</span>

                case &quot;Belief&quot;:
<span class="fc" id="L135">                    beliefTruth = which;</span>
<span class="fc" id="L136">                    break;</span>

                case &quot;Desire&quot;:
<span class="fc" id="L139">                    goalTruth = which;</span>
<span class="fc" id="L140">                    break;</span>

                case &quot;Derive&quot;:
<span class="pc bpc" id="L143" title="1 of 2 branches missed.">                    if (which.equals(PostCondition.allowBackward))</span>
<span class="fc" id="L144">                        rule.setAllowBackward();</span>
                    break;

                case &quot;Order&quot;:
                    //ignore, because this only affects at TaskRule construction
<span class="fc" id="L149">                    break;</span>

                case &quot;Event&quot;:
<span class="pc bpc" id="L152" title="1 of 2 branches missed.">                    if (which.equals(PostCondition.anticipate)) {</span>
<span class="fc" id="L153">                        rule.anticipate = true;</span>
                    }
                    //ignore, because this only affects at TaskRule construction
                    break;

                case &quot;Eternalize&quot;:
<span class="pc bpc" id="L159" title="1 of 2 branches missed.">                    if (which.equals(PostCondition.immediate)) {</span>
<span class="fc" id="L160">                        rule.immediate_eternalize = true;</span>
                    }
                    //ignore, because this only affects at TaskRule construction
                    break;

                case &quot;SequenceIntervals&quot;:
//                    if (which.equals(PostCondition.fromBelief)) {
//                        rule.sequenceIntervalsFromBelief = true;
//                    } else if (which.equals(PostCondition.fromTask)) {
//                        rule.sequenceIntervalsFromTask = true;
//                    }
<span class="fc" id="L171">                    break;</span>

                default:
<span class="nc" id="L174">                    throw new RuntimeException(&quot;Unhandled postcondition: &quot; + type + ':' + which);</span>
            }


        }


<span class="fc" id="L181">        PostCondition pc = new PostCondition(term,</span>
                beliefTruth, goalTruth, puncOverride);

        //pc.negate = negate;
<span class="fc" id="L185">        pc.puncOverride = puncOverride;</span>
<span class="pc bpc" id="L186" title="1 of 2 branches missed.">        if (pc.valid(rule)) {</span>
<span class="fc" id="L187">            return pc;</span>
        }


<span class="nc" id="L191">        return null;</span>


    }

    @Override
    public int nal() {
<span class="nc" id="L198">        return minNAL;</span>
    }



    boolean valid(@NotNull PremiseRule rule) {
<span class="fc" id="L204">        Term term = this.term;</span>

<span class="fc bfc" id="L206" title="All 4 branches covered.">        if (!modifiesPunctuation() &amp;&amp; term instanceof Compound) {</span>
<span class="pc bpc" id="L207" title="1 of 2 branches missed.">            if (rule.getTaskTermPattern().equals(term) ||</span>
<span class="pc bpc" id="L208" title="1 of 2 branches missed.">                    rule.getBeliefTermPattern().equals(term))</span>
<span class="nc" id="L209">                return false;</span>
        }

        //assign the lowest non-zero, because non-zero will try them all anyway
        /*if (rule.minNAL == 0)
            rule.minNAL = minNAL;
        else*/
<span class="fc bfc" id="L216" title="All 2 branches covered.">        if (minNAL != 0)</span>
<span class="fc" id="L217">            rule.minNAL = Math.min(rule.minNAL, minNAL);</span>

<span class="fc" id="L219">        return true;</span>
    }

    public final boolean modifiesPunctuation() {
<span class="fc bfc" id="L223" title="All 2 branches covered.">        return puncOverride &gt; 0;</span>
    }



    @NotNull
    @Override
    public String toString() {
<span class="nc" id="L231">        return &quot;PostCondition{&quot; +</span>
                &quot;term=&quot; + term +
                //&quot;, modifiers=&quot; + Arrays.toString(modifiers) +
                &quot;, beliefTruth=&quot; + beliefTruth +
                &quot;, goalTruth=&quot; + goalTruth +
                &quot;, puncOverride=&quot; + puncOverride +
                '}';
    }



}
</pre><div class="footer"><span class="right">Created with <a href="http://www.eclemma.org/jacoco">JaCoCo</a> 0.7.4.201502262128</span></div></body></html>