<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><link rel="stylesheet" href="../.resources/report.css" type="text/css"/><link rel="shortcut icon" href="../.resources/report.gif" type="image/gif"/><title>Twenglish.java</title><link rel="stylesheet" href="../.resources/prettify.css" type="text/css"/><script type="text/javascript" src="../.resources/prettify.js"></script></head><body onload="window['PR_TAB_WIDTH']=4;prettyPrint()"><div class="breadcrumb" id="breadcrumb"><span class="info"><a href="../.sessions.html" class="el_session">Sessions</a></span><a href="../index.html" class="el_report">OpenNARS Logic Reasoner</a> &gt; <a href="index.source.html" class="el_package">nars.task.in</a> &gt; <span class="el_source">Twenglish.java</span></div><h1>Twenglish.java</h1><pre class="source lang-java linenums">/*
 * Copyright (C) 2014 tc
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see &lt;http://www.gnu.org/licenses/&gt;.
 */
package nars.task.in;

import com.google.common.collect.Lists;
import nars.$;
import nars.Global;
import nars.NAR;
import nars.Narsese;
import nars.task.Task;
import nars.term.Term;
import nars.term.atom.Atom;
import nars.util.io.Twokenize;
import nars.util.io.Twokenize.Span;
import org.jetbrains.annotations.NotNull;
import org.jetbrains.annotations.Nullable;

import java.util.*;

/**
 * Twitter English - english with additional tags for twitter-like content 
 */
public class Twenglish {
<span class="nc" id="L38">    public static final Atom GOAL = Atom.the(&quot;goal&quot;);</span>
<span class="nc" id="L39">    public static final Atom QUESTION = Atom.the(&quot;question&quot;);</span>
<span class="nc" id="L40">    public static final Atom QUEST = Atom.the(&quot;quest&quot;);</span>
<span class="nc" id="L41">    public static final Atom JUDGMENT = Atom.the(&quot;judgment&quot;);</span>
<span class="nc" id="L42">    public static final Atom FRAGMENT = Atom.the(&quot;words&quot;);</span>

    //public final ArrayList&lt;String&gt; vocabulary = new ArrayList&lt;&gt;();
    
    /** substitutions */
<span class="nc" id="L47">    public final Map&lt;String,String&gt; sub = new HashMap();</span>


    //boolean languageBooted = true; //set to false to initialize on first twenglish input
<span class="nc" id="L51">    boolean inputProduct = true;</span>
<span class="nc" id="L52">    boolean inputConjSeq = true;</span>
    
    
<span class="nc" id="L55">    public static final Map&lt;String,String&gt; POS = new HashMap(){{</span>
        //https://www.englishclub.com/grammar/parts-of-speech-table.htm
        
<span class="nc" id="L58">        put(&quot;i&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L59">        put(&quot;it&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L60">        put(&quot;them&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L61">        put(&quot;they&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L62">        put(&quot;we&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L63">        put(&quot;you&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L64">        put(&quot;he&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L65">        put(&quot;she&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L66">        put(&quot;some&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L67">        put(&quot;all&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L68">        put(&quot;this&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L69">        put(&quot;that&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L70">        put(&quot;these&quot;, &quot;pronoun&quot;);</span>
<span class="nc" id="L71">        put(&quot;those&quot;, &quot;pronoun&quot;);</span>
        
<span class="nc" id="L73">        put(&quot;is&quot;, &quot;verb&quot;);</span>

<span class="nc" id="L75">        put(&quot;who&quot;, &quot;qpronoun&quot;);</span>
<span class="nc" id="L76">        put(&quot;what&quot;, &quot;qpronoun&quot;);</span>
<span class="nc" id="L77">        put(&quot;where&quot;, &quot;qpronoun&quot;);</span>
<span class="nc" id="L78">        put(&quot;when&quot;, &quot;qpronoun&quot;);</span>
<span class="nc" id="L79">        put(&quot;why&quot;, &quot;qpronoun&quot;);</span>
<span class="nc" id="L80">        put(&quot;which&quot;, &quot;qpronoun&quot;);</span>
        
<span class="nc" id="L82">        put(&quot;to&quot;, &quot;prepos&quot;);</span>
<span class="nc" id="L83">        put(&quot;at&quot;, &quot;prepos&quot;);</span>
<span class="nc" id="L84">        put(&quot;before&quot;, &quot;prepos&quot;);</span>
<span class="nc" id="L85">        put(&quot;after&quot;, &quot;prepos&quot;);</span>
<span class="nc" id="L86">        put(&quot;on&quot;, &quot;prepos&quot;);</span>
<span class="nc" id="L87">        put(&quot;but&quot;, &quot;prepos&quot;);</span>
        
<span class="nc" id="L89">        put(&quot;and&quot;, &quot;conjunc&quot;);</span>
<span class="nc" id="L90">        put(&quot;but&quot;, &quot;conjunc&quot;);</span>
<span class="nc" id="L91">        put(&quot;or&quot;, &quot;conjunc&quot;);</span>
<span class="nc" id="L92">        put(&quot;if&quot;, &quot;conjunc&quot;);</span>
<span class="nc" id="L93">        put(&quot;while&quot;, &quot;conjunct&quot;);</span>
                
<span class="nc" id="L95">    }};</span>
    
<span class="nc" id="L97">    public Twenglish() {</span>
        //TODO use word tokenization so that word substitutions dont get applied across words.
<span class="nc" id="L99">        sub.put(&quot;go to&quot;, &quot;goto&quot;);</span>
        //etc..
<span class="nc" id="L101">    }</span>


    @NotNull
    protected Collection&lt;Task&gt; parseSentence(String source, @NotNull NAR n, @NotNull List&lt;Span&gt; s) {

<span class="nc" id="L107">        LinkedList&lt;Term&gt; t = new LinkedList();</span>
<span class="nc" id="L108">        Span last = null;</span>
<span class="nc bnc" id="L109" title="All 2 branches missed.">        for (Span c : s) {</span>
<span class="nc" id="L110">            t.add( spanToTerm(c) );</span>
<span class="nc" id="L111">            last = c;</span>
<span class="nc" id="L112">        }</span>
<span class="nc bnc" id="L113" title="All 2 branches missed.">        if (t.isEmpty()) return Collections.emptyList();</span>

<span class="nc" id="L115">        Atom sentenceType = FRAGMENT;</span>
<span class="nc bnc" id="L116" title="All 4 branches missed.">        if ((last!=null) &amp;&amp; (&quot;punct&quot;.equals(last.pattern))) {</span>
<span class="nc bnc" id="L117" title="All 18 branches missed.">            switch (last.content) {</span>
<span class="nc" id="L118">                case &quot;.&quot;: sentenceType = JUDGMENT; break;</span>
<span class="nc" id="L119">                case &quot;?&quot;: sentenceType = QUESTION; break;</span>
<span class="nc" id="L120">                case &quot;@&quot;: sentenceType = QUEST; break;</span>
<span class="nc" id="L121">                case &quot;!&quot;: sentenceType = GOAL; break;</span>
            }
        }
<span class="nc bnc" id="L124" title="All 2 branches missed.">        if (!&quot;fragment&quot;.equals(sentenceType))</span>
<span class="nc" id="L125">            t.removeLast(); //remove the punctuation, it will be redundant</span>

<span class="nc" id="L127">        List&lt;Task&gt; tt = new ArrayList();</span>

        //1. add the logical structure of the sequence of terms
<span class="nc bnc" id="L130" title="All 2 branches missed.">        if (inputProduct) {</span>
<span class="nc" id="L131">            Term p =</span>
<span class="nc" id="L132">                $.p(t.toArray(new Term[t.size()]));</span>
<span class="nc" id="L133">            Term q =</span>
<span class="nc" id="L134">                    $.inh(</span>
                            p,
<span class="nc" id="L136">                            $.seti(sentenceType, $.the(source))</span>
                    )
            ;
<span class="nc bnc" id="L139" title="All 2 branches missed.">            if (q != null) {</span>
<span class="nc" id="L140">                Task newtask = n.task(q + &quot;. %0.95|0.95%&quot;);</span>
<span class="nc bnc" id="L141" title="All 2 branches missed.">                if (newtask!=null)</span>
<span class="nc" id="L142">                    tt.add(newtask); //TODO non-string construct</span>
            }

        }

        //2. add the 'heard' sequence of just the terms
//        if (inputConjSeq) {
//            LinkedList&lt;Term&gt; cont = s.stream().map(cp -&gt; lexToTerm(cp.content)).collect(Collectors.toCollection(LinkedList::new));
//            //separate each by a duration interval
////cont.add(Interval.interval(memory.duration(), memory));
//            cont.removeLast(); //remove trailnig interval term
//
//            Compound con = Sentence.termOrNull(Conjunction.make(cont.toArray(new Term[cont.size()]), Temporal.ORDER_FORWARD));
//            if (con!=null) {
//                throw new RuntimeException(&quot;API Upgrade not finished here:&quot;);
//                /*tt.add(
//                        memory.newTask(con, '.', 1.0f, Parameters.DEFAULT_JUDGMENT_CONFIDENCE, Parameters.DEFAULT_JUDGMENT_PRIORITY, Parameters.DEFAULT_JUDGMENT_DURABILITY)
//                );*/
//            }
//        }

<span class="nc" id="L163">        return tt;</span>

    }


    @Nullable
    public static Term spanToTerm(@NotNull Span c) {
<span class="nc" id="L170">        return spanToTerm(c, false);</span>
    }

    @Nullable
    public static Term spanToTerm(@NotNull Span c, boolean includeWordPOS) {
<span class="nc bnc" id="L175" title="All 2 branches missed.">        if (&quot;word&quot;.equals(c.pattern)) {</span>
            //TODO support &gt;1 and probabalistic POS
<span class="nc bnc" id="L177" title="All 2 branches missed.">            if (!includeWordPOS) {</span>
<span class="nc" id="L178">                return lexToTerm(c.content);</span>
            }
            else {
<span class="nc" id="L181">                String pos = POS.get(c.content.toLowerCase());</span>
<span class="nc bnc" id="L182" title="All 2 branches missed.">                if (pos != null) {</span>
<span class="nc" id="L183">                    return $.property(lexToTerm(c.content), tagToTerm(pos));</span>
                }
            }
        }
            
<span class="nc" id="L188">        return $.property( lexToTerm(c.content), tagToTerm(c.pattern) );</span>
    }
    
    public static Term lexToTerm(String c) {
        //return Atom.the(c, true);
<span class="nc" id="L193">        return Atom.quote(c);</span>
    }
    @NotNull
    public static Term tagToTerm(String c) {
<span class="nc" id="L197">        c = c.toLowerCase();</span>
<span class="nc bnc" id="L198" title="All 2 branches missed.">        if (&quot;word&quot;.equals(c)) return Atom.quote(&quot; &quot;); //space surrounded by quotes</span>
<span class="nc" id="L199">        return Atom.the(c, true);</span>
    }
    
    
    /** returns a list of all tasks that it was able to parse for the input */
    @NotNull
    public List&lt;Task&gt; parse(String source, @NotNull NAR n, String s) throws Narsese.NarseseException {

        
<span class="nc" id="L208">        List&lt;Task&gt; results = Global.newArrayList();</span>

<span class="nc" id="L210">        List&lt;Span&gt; tokens = Twokenize.twokenize(s);</span>
        
<span class="nc" id="L212">        List&lt;List&lt;Span&gt;&gt; sentences = Global.newArrayList();</span>
        
<span class="nc" id="L214">        List&lt;Span&gt; currentSentence = Global.newArrayList(tokens.size());</span>
<span class="nc bnc" id="L215" title="All 2 branches missed.">        for (Span p : tokens) {</span>
            
<span class="nc" id="L217">            currentSentence.add(p);</span>
            
<span class="nc bnc" id="L219" title="All 2 branches missed.">            if (&quot;punct&quot;.equals(p.pattern)) {</span>
<span class="nc bnc" id="L220" title="All 12 branches missed.">                switch (p.content) {</span>
                    case &quot;.&quot;:
                    case &quot;?&quot;:
                    case &quot;!&quot;:
<span class="nc bnc" id="L224" title="All 2 branches missed.">                        if (!currentSentence.isEmpty()) {</span>
<span class="nc" id="L225">                            sentences.add(currentSentence);</span>
<span class="nc" id="L226">                            currentSentence = Global.newArrayList();</span>
                            break;
                        }
                }
            }
<span class="nc" id="L231">        }</span>
                
<span class="nc bnc" id="L233" title="All 2 branches missed.">        if (!currentSentence.isEmpty())</span>
<span class="nc" id="L234">            sentences.add(currentSentence);</span>
        
<span class="nc bnc" id="L236" title="All 2 branches missed.">        for (List&lt;Span&gt; x : sentences) {</span>
<span class="nc" id="L237">            results.addAll( parseSentence(source, n, x) );</span>
<span class="nc" id="L238">        }</span>
                
<span class="nc bnc" id="L240" title="All 2 branches missed.">        if (!results.isEmpty()) {</span>
//            if (!languageBooted) {
//
//
//                results.add(0, n.task(new StringBuilder(
//                        &quot;&lt;{word,pronoun,qpronoun,prepos,conjunc} --] symbol&gt;.&quot;).toString()));
//                results.add(0, n.task(new StringBuilder(
//                        &quot;$0.90;0.90$ &lt;(*,&lt;$a--&gt;[$d]&gt;,&lt;is--&gt;[verb]&gt;,&lt;$b--&gt;[$d]&gt;) =/&gt; &lt;$a &lt;-&gt; $b&gt;&gt;.&quot;).toString()));
//
//                languageBooted = true;
//            }
                
        }
        
<span class="nc" id="L254">        return results;</span>
    }

    public static List&lt;Term&gt; tokenize(String msg) {
<span class="nc" id="L258">        return Lists.transform(Twokenize.tokenize(msg),</span>
                Twenglish::spanToTerm);
    }

    @NotNull
    public static String learnSentence(@NotNull NAR nar, int wordDelay, @NotNull String message) {
<span class="nc" id="L264">        List&lt;Term&gt; t = tokenize(message);</span>

<span class="nc bnc" id="L266" title="All 2 branches missed.">        if (t.isEmpty()) return &quot;silence&quot;;</span>

<span class="nc" id="L268">        String sentenceID = Integer.toString(message.hashCode());</span>

<span class="nc" id="L270">        nar.input(&quot;say(sentence, &quot; + sentenceID + &quot;). :|:&quot;);</span>
        //float f = 1f;
        //float df = 0.5f / t.size();
<span class="nc bnc" id="L273" title="All 2 branches missed.">        for (Term w : t) {</span>
            //nar.input(&quot;sentence(&quot; + sentenceID + &quot;). :|:&quot;);// %&quot; + f + &quot;;0.95%&quot;);
            //nar.frame(1);

            //nar.input(&quot;(sentence(&quot; + sentenceID + &quot;) ==&gt; say(&quot; + w + &quot;)). :|:&quot;);

<span class="nc" id="L279">            nar.input(&quot;say(&quot; + w + &quot;)! %1|0.9%&quot;);</span>
<span class="nc" id="L280">            nar.frame(wordDelay);</span>


            //nar.input(&quot;say(&quot; + w + &quot;). %1|0.9%&quot;); //silence
            //nar.frame(wordDelay/2);


            //f-=df;
<span class="nc" id="L288">        }</span>
<span class="nc" id="L289">        nar.input(&quot;say(sentence, &quot; + sentenceID + &quot;). :|: %0%&quot;);</span>

        //nar.input(&quot;(--, sentence(&quot; + sentenceID + &quot;)). :|:&quot;);

        //nar.input(&quot;(--, sentence(&quot; + sentenceID + &quot;)). :|:&quot;);

<span class="nc" id="L295">        return sentenceID;</span>
    }
}
</pre><div class="footer"><span class="right">Created with <a href="http://www.eclemma.org/jacoco">JaCoCo</a> 0.7.4.201502262128</span></div></body></html>